.dropDownBlock{
    position: absolute;
    transform: translateX(-30px);
    right: 0;
    text-align: right;
    white-space: nowrap;
}
p{
    padding: 10px 0px;    
}
.menuText{
    font-size: 15px;
    transform: translateX(20px);
}