h1{
  font-size: 30px;
  background-image: linear-gradient(to bottom right, red, yellow);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}
h2{
  font-size: 200px;
  text-align: center;
  margin-bottom: 0;
}
.linkDiv{
  display: flex;
  justify-content: center;
}
.linkStyle{  
  font-size: 50px;
  text-decoration: none;
  color: #a6a6a6;
}
